@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("https://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.eot");
  src: url("https://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.svg#Basis Grotesque Pro")
      format("svg");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Basis Grotesque Pro",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #060e1e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 450px) {
  body {
    font-size: 14px;
  }
}
